@import url("https://fonts.googleapis.com/css2?family=Song+Myung&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");
@use "sass:math";
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.app {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.app #top-btn {
  position: fixed;
  bottom: 5px;
  right: 5px;
  width: 50px;
  height: 50px;
  padding-top: 7px;
  border-radius: 50%;
  background-color: #F1f8e9;
  color: #000;
  font-size: 2em;
  border: 1px solid #000;
  cursor: pointer;
}

nav {
  position: fixed;
  width: 150px;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: #F9fbe7;
  border-right: 2px solid #000;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

nav span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: -1px;
  font-size: 1.2em;
  font-family: 'Nanum Myeongjo', serif;
  padding-left: 10px;
}

nav i {
  float: right;
  font-size: 1.3em;
  cursor: pointer;
  margin-left: 10px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  padding: 5px 10px;
  color: #000;
  border-bottom: 1px solid #F9fbe7;
  font-size: 1.2em;
  font-family: 'Nanum Myeongjo', serif;
  letter-spacing: -0.7px;
  background-color: #F9fbe7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

nav ul li b {
  font-family: 'Nanum Myeongjo', serif;
}

nav ul .active {
  border-bottom: 1px solid #000;
}

.change-width {
  -webkit-transform: translateX(-110px);
          transform: translateX(-110px);
}

.container-div {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-left: 150px solid #F9fbe7;
  background-color: #F9fbe7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.container-div .hashtag-title {
  height: 80px;
  line-height: 75px;
  width: 100%;
  border-bottom: 2px solid #000;
  font-family: 'Song Myung', serif;
  font-size: 4em;
  font-weight: 400;
  letter-spacing: -2px;
}

.wider-screen {
  border-left: 40px solid #F9fbe7;
}

.home-div {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #000;
}

.home-div .home-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 450px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-right: 2px solid #000;
}

.home-div .home-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.home-div .home-item .home-h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 4em;
  margin-right: 10px;
}

.home-div .home-item .home-h1 span {
  font-size: 0.9em;
  font-weight: 400;
  -webkit-animation: typo-cursor linear 1s infinite;
          animation: typo-cursor linear 1s infinite;
}

@-webkit-keyframes typo-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes typo-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.skill-div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.skill-div .skill-showcase {
  height: 250px;
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
}

.skill-div .skill-showcase h2 {
  letter-spacing: -1px;
  font-weight: 400;
}

.skill-div .skill-showcase p {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.skill-div .point {
  background-color: #F1f8e9;
}

.skill-div .erase {
  border-right: none;
}

.skill-div .skill-showcase:hover {
  background-color: #F1f8e9;
}

.skill-div .point:hover {
  background-color: #F9fbe7;
}

.project-div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  border-bottom: 2px solid #000;
}

.project-div section {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project-div section .button-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 244px;
  height: 40px;
  border-right: 2px solid #000;
}

.project-div section .button-set .link-btn {
  border: 2px solid #000;
  border-top: none;
  border-right: none;
  background-color: #F9fbe7;
  width: 81px;
  height: 100%;
  font-size: 1.3em;
  cursor: pointer;
}

.project-div section .button-set .link-btn:nth-child(3) {
  background-color: #f2d338;
}

.project-div section p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  padding-left: 30px;
  margin-left: 30px;
  border-left: 2px solid #424242;
}

.project-div .project-Img-zone {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 2px solid #000;
}

.project-div #petal-position {
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
}

.project-div #cuting-position {
  -ms-grid-row: 3;
      grid-row-start: 3;
}

.contact-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-div .id-card {
  border: 2px solid #000;
  margin: 100px;
}

.contact-div .id-card h3 {
  border-bottom: 1px solid #000;
  letter-spacing: -1px;
}

.contact-div .id-card p {
  padding: 10px;
  letter-spacing: -0.5px;
}

.contact-div .contact-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

.contact-div .contact-card div {
  width: 300px;
  height: 300px;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-div .contact-card div h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F9fbe7;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 1px solid #000;
  text-align: center;
  font-weight: 400;
  font-size: 1.2em;
  cursor: pointer;
}

.contact-div .contact-card div h4:hover {
  background-color: #F1f8e9;
}

.contact-div .contact-card div a {
  text-decoration: none;
  color: #000;
}

.contact-div .contact-card div small {
  position: absolute;
  -webkit-transform: translate(30px, 20px);
          transform: translate(30px, 20px);
  color: #558b2f;
}
/*# sourceMappingURL=style.css.map */