@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300&family=Nanum+Myeongjo&family=Song+Myung&display=swap");
@use "sass:math";
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.app {
  width: 100%;
  height: 100vh;
}

.app #top-btn {
  position: fixed;
  bottom: 5px;
  right: 5px;
  width: 50px;
  height: 50px;
  padding-top: 7px;
  border-radius: 50%;
  background-color: #F1f8e9;
  color: #000;
  font-size: 2em;
  border: 1px solid #000;
  cursor: pointer;
}

nav {
  position: fixed;
  width: 150px;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: #F9fbe7;
  border-right: 2px solid #000;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

nav span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: -1px;
  font-size: 1.2em;
  font-family: 'Nanum Myeongjo', serif;
  padding-left: 10px;
}

nav i {
  float: right;
  font-size: 1.3em;
  cursor: pointer;
  margin-left: 10px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  padding: 5px 10px;
  color: #000;
  border-bottom: 1px solid #F9fbe7;
  font-size: 1.2em;
  font-family: 'Nanum Myeongjo', serif;
  letter-spacing: -0.7px;
  background-color: #F9fbe7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

nav ul li b {
  font-family: 'Nanum Myeongjo', serif;
}

nav ul .active {
  border-bottom: 1px solid #000;
}

.change-width {
  -webkit-transform: translateX(-110px);
          transform: translateX(-110px);
}

.container-div {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-left: 150px solid #F9fbe7;
  background-color: #F9fbe7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.container-div .hashtag-title {
  height: 80px;
  line-height: 75px;
  width: 100%;
  border-bottom: 2px solid #000;
  font-family: 'Song Myung', serif;
  font-size: 4em;
  font-weight: 400;
  letter-spacing: -2px;
}

.wider-screen {
  border-left: 40px solid #F9fbe7;
}

.home-div {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #000;
}

.home-div .home-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 450px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-right: 2px solid #000;
}

.home-div .home-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.home-div .home-item .home-h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 4em;
  margin-right: 10px;
  letter-spacing: -2px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow-y: hidden;
}

.home-div .home-item .home-h1 span {
  position: relative;
}

.home-div .home-item .home-h1 span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: #F9fbe7;
  border-left: 2px solid #000;
  -webkit-animation: typing 3s steps(23) 2s 1 forwards;
          animation: typing 3s steps(23) 2s 1 forwards;
}

.home-div .home-item h2 {
  letter-spacing: -1px;
  margin-right: 50px;
  font-size: 2em;
  font-family: 'Gothic A1', sans-serif;
}

.home-div .home-item h2 span {
  margin: 0px 15px;
  padding: 5px 4px;
  background-color: #424242;
  color: #fff;
  opacity: 0;
  -webkit-animation: appear 1s linear 1s 1 forwards;
          animation: appear 1s linear 1s 1 forwards;
}

.home-div .home-item p {
  padding-top: 30px;
  text-align: right;
  letter-spacing: -0.8px;
  line-height: 25px;
  margin-right: 30px;
  font-size: 1.2em;
  font-family: 'Gothic A1', sans-serif;
  opacity: 0;
  -webkit-animation: appear 3s linear 5s 1 forwards;
          animation: appear 3s linear 5s 1 forwards;
}

@-webkit-keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0 35px;
  }
}

@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0 35px;
  }
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.contact-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-div .id-card {
  border: 2px solid #000;
  margin: 100px;
}

.contact-div .id-card h3 {
  border-bottom: 1px solid #000;
  letter-spacing: -1px;
}

.contact-div .id-card p {
  font-family: 'Gothic A1', sans-serif;
  padding: 10px;
  letter-spacing: -0.5px;
}

.contact-div .contact-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

.contact-div .contact-card div {
  width: 300px;
  height: 300px;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-div .contact-card div h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F9fbe7;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 1px solid #000;
  text-align: center;
  font-weight: 400;
  font-size: 1.2em;
  font-family: 'Gothic A1', sans-serif;
  cursor: pointer;
}

.contact-div .contact-card div h4:hover {
  background-color: #F1f8e9;
}

.contact-div .contact-card div a {
  text-decoration: none;
  color: #000;
}

.contact-div .contact-card div small {
  position: absolute;
  -webkit-transform: translate(30px, 20px);
          transform: translate(30px, 20px);
  color: #558b2f;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

::-webkit-scrollbar:hover {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #F9fbe7;
  border: 1px solid #bdbdbd;
}

::-webkit-scrollbar-thumb {
  background-color: #424242;
  border-radius: 5px;
}
/*# sourceMappingURL=style.css.map */